[[source]]
name = "investment-machine_predict-prices"
url = "https://github.com/u6k/investment-machine_predict-prices"
verify_ssl = true

[dev-packages]

[packages]
investment-machine-predict-prices = {editable = true,path = "."}

[requires]
python_version = "3.7"

[scripts]
start = "python investment-machine_predict-prices.py"
